<%- include('header') %>

    <div class="mainContent">
        <h1>404 - Page Not Found</h1>
        <hr>
        <div class="contentInfoAlternativeCentre">
            <p>
                Sorry, the page you requested does not exist.
            </p>
                <button class="success" onclick="history.back()">Back</button>
        </div>

    </div>
<%- include('footer') %>