<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniPort - The University Portal</title>
    <link rel="icon" href="favicon-32x32.png" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="ui.css">
</head>

<body>

    <div class="container">
        <div class="topheader">
            <img class="headicon" src="bookstack.jpg" alt="header image">
            <h1>UniPort</h1>
        </div>