<%- include('header') %>
<%- include('navbar') %>

    <div class="mainContent">
        <h1>Success</h1>
        <hr>
        <div class="contentInfo">
            <p>
                Success. <%= recip %>.
            </p>
        </div>
        <hr>

        <a href="dashboard"><button>Back</button></a>
    </div>
<%- include('footer') %>